@import "bootstrap/variables";

@urequireDarkBlue: #000097;
@urequireBlue: #0563ac;
@urequireSoftblue: #4C67B3;
@urequireLightBlue: #95c6ff;

@brown: #032b50;
@brownLighter: #6F5A40;

@textColor: @urequireDarkBlue;
@btnBorder:                         #ccc;
@navbarHeight:                      56px;

@navbarInverseBackground:           @urequireLightBlue;
@navbarLinkBackgroundHover:         #77aadc;
@navbarInverseLinkColor:            @white;
@navbarInverseLinkColorHover:       @white;
@navbarInverseLinkBackgroundHover: #4636d6;

@heroUnitBackground:                @white;

@navlistBackground:                 @urequireLightBlue;
