@import "bootstrap/variables";

@urequireLightBlue:                 #c9c5dc;
@urequireBlue: #1300ac;
@urequireDarkBlue:                  #0563ac;
@brown:                             #453015;
@brownLighter:                      #6f5a40;
@textColor:                         @urequireBlue;
@btnBorder:                         #ccc;
@navbarHeight:                      56px;

@navbarInverseBackground:           @urequireLightBlue;
@navbarLinkBackgroundHover:         #77aadc;
@navbarInverseLinkColor:            @white;
@navbarInverseLinkColorHover:       @white;
@navbarInverseLinkBackgroundHover: #4636d6;

@heroUnitBackground:                @white;

@navlistBackground:                 @urequireLightBlue;
