extends layout

block gettingStarted
  p Read the <a href="/quick-introduction">Quick Introduction</a> on using uRequire to modularize your code. See how trivial <a href="/using-urequire">Using uRequire</a> is. Learn more about Module Authoring and the <a href="/universal-module-format">Universal Module Format</a>. Check out the <a href="/masterdefaultsconfig.coffee">wicked uRequire config</a> and how to easily <a href="/resourceconverters.coffee">Convert Resources</a>.

block content
  .container
    .row-fluid
      .span9.page
        .hero-unit
          .home-header
            h1
              span.tag-line The JavaScript Universal Module & Resource Converter

          .whyclear
            pre.code praise.to("Modular").forEach(['Development', 'Deployment']);

          .why.left
            h2 Why use <em>modules</em> like AMD, Common/JS or Harmony/ES6 ?
            p Write <em>modular code</em>, with clearly stated dependencies.
            p Code for humans to follow, that is maintainable & reusable.
            p The damnation of authoring Javascript as <strong>one huge file</strong> or <strong>concatenating</strong> must end!
            h5 Are you still concatenating .js files ?

          .why.right
            h2 Why use Module Loaders?
            p Cause in modern single-page apps, you're not receiving just a data REST, but also executable code.
            p You want a dynamic code loading mechanism.
            p You want to follow standards and the available tools.
            p Either your app is on browser, mobile or even nodejs.
            h5 Run <em>single page Apps</em> with truly dynamic code loading.

          .whyclear
            pre.code u.require(this);

          .why.left
            h2 Why use uRequire ?
            p Module formats are incompatible in all terms: <strong>syntax, execution environment, capabilities, dependency/path resolution, plugins, semantics </strong>etc.
            p You want the power, goodies & standards assurance from all.
            p But write in just one or a <a href="universal-module-format">Universal Module Format</a>!
            p Be able to convert from any format, to any other.
            h5 <em>uRequire does exactly this!</em> If you have sensibly `define`d it, u`Require` will find it.

          .why.right
            h2 What will uRequire do ?
            p Help you write <strong>modular Javascript code once, run everywhere</strong>.
            p Avoid boilerplate, just use the richness of modular development.
            p <strong>In-memory Convert Resources</strong>, with the 1st and only <em>Modules & Dependencies aware</em> builder.
            p <strong>Manipulate the Modules</strong> while building: inject, remove, replace Dependencies & code.
            h5 Voila, execute in all runtimes: <strong>Web/Script, Web/AMD, nodejs</strong>!

          .whyclear
            pre.code focus.on("Da JS Code").then({convert:"anything"}).then({execute:"everywhere"});

          .technology
            .how-get-started
              h2 How do I get started?
              block gettingStarted

      .span3
        .well.sidebar-nav
          .latest-version
            h3 Latest Version
            ul
              li Stable: v0.6.1
              ul.well-small
                li Improved Parsing / extraction with Esprima / Mozilla Parser AST
                li Module manipulation (dependencies & code) BEFORE template is applied
                li Many bug fixes & improvements

          .latest-news
            h3 Latest News
            p <a href="/history">Release v0.6.1 - see History</a>
            //ul
              each article in news
                li
                  a(href='/blog/' + article.url)
                    span.title= article.title
                    span.date= article.postDate

          .getting-started
            h3 Getting Started
            block gettingStarted

          .social
            a.github(href='https://github.com/anodynos/urequire', alt='uRequire on GitHub')
              span.icon-github
            a.twitter(href='https://twitter.com/urequire/', alt='uRequire on Twitter')
              span.icon-twitter

          include blocks/advertisements