footer.urequire-footer
  .inner
    .container
      ul.pull-right
        li
          a(href='/contributing') Contributing

        li.social
          a(href='https://github.com/anodynos/urequire', alt='uRequire on GitHub')
            span.icon-github

        li.social
          a(href='https://twitter.com/urequire/', alt='uRequire on Twitter')
            span.icon-twitter

      ul.pull-left
        li
          |uRequire is an open source project, MIT license. (C)
          a(href='http://github.com/anodynos', alt='anodynos')
          | Agelos Pikoulas 2013