.navbar.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='/')
        span.logo

      .nav-collapse.collapse
        ul.nav
          li
            a(href='/features')
              i.icon-arrow-right
              span uRequire Features
          li
            a(href='/quick-introduction')
              i.icon-document-alt-stroke
              span Documentation
          li
            a(href='/urequireconfigmasterdefaults.coffee')
              i.icon-cog
              span Config
