.navbar.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='/')
        img.logo(
          src='../img/urequire-logo.png'
          alt='convert, javascript, modules, commonjs, requirejs, nodejs, AMD, UMD, dependencies'
        )

      .nav-collapse.collapse
        ul.nav
          li
            a(href='/features')
              i.icon-arrow-right
              span uRequire Features
          li
            a(href='/quick-introduction')
              i.icon-document-alt-stroke
              span Documentation
          li
            a(href='/masterdefaultsconfig.coffee')
              i.icon-cog
              span Wicked Config

          li
            a(href='/resourceconverters.coffee')
              i.icon-power-cord
              span Resource Converters
