.navbar.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='/')
        img.logo(
          src='../img/urequire-logo.png'
          alt='convert, javascript, modules, commonjs, requirejs, nodejs, AMD, UMD, dependencies, resources, conversion, workflow, in-memory, asset, pipeline'
        )

      .nav-collapse.collapse
        ul.nav
          li
            a(href='/docs/features.html')
              i.icon-arrow-right
              span uRequire Features
          li
            a(href='/docs/quick-introduction.html')
              i.icon-document-alt-stroke
              span Documentation
          li
            a(href='/docs/masterdefaultsconfig.coffee.html')
              i.icon-cog
              span uRequire Config

          li
            a(href='/docs/resourceconverters.coffee.html')
              i.icon-power-cord
              span Resource Converters
